div {
  border: 1px solid black;
}

#gameBoard {
  position: relative;
  height:250px;
  width: 400px;
  background-color: lightgreen;
  border: 1px solid black;
}

#bankDisplay {
  border: 1px solid black;
}

#playerDisplay {
  border: 1px solid black;
}

#dealerDisplay {
  border: 1px solid black;
}

#bet {
font-style: oblique;
text-align: center;
height: 23px;
width: 50px;
}

#hit {
font-style: oblique;
text-align: center;
width: 50px;
height: 22px;
}

#stay {
font-style: oblique;
text-align: center;
width: 50px;
height: 22px;
}
