div {
  border: 1px solid black;
/*display: inline-block;*/
}

#gameBoard {
  /*position: relative;
  height:400px;
  width: 400px;
  background-color: lightgreen;
  display: inline-block;
  border: 1px solid black;
  z-index: 1;
  border-radius: 15px;*/
}

#bankDisplay {
  /*height: 40px;
  width: 200px;
  border: 1px solid black;
  background: white;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: -30px;
  border-radius: 5px;*/
}

#playerDisplay {
  /*height: 40px;
  width: 200px;
  border: 1px solid black;
  background: white;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: -30px;
  border-radius: 5px;*/
}

#dealerDisplay {
  /*height: 40px;
  width: 200px;
  border: 1px solid black;
  background: white;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: -30px;
  border-radius: 5px;*/
}

#bet {

}

#hit {

}

#stay {

}
